<%-include('../admin/layouts/header.ejs') %>
<%-include('../admin/layouts/sideBar.ejs') %>
<%-include('../admin/layouts/navBar.ejs') %>

<div class="main-panel">
  <div class="content-wrapper">

    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add New Category</h4>
                <hr class="white-line">
                <form class="forms-sample" action="" method="post">
      
                    <div class="form-group  row">
                        <div class="col-12 col-md-9 mt-2">
                            <label for="exampleInputName1">Category Name</label>
                            <input type="text" class="form-control  text-light mb-3 " name="category_name"
                                id="exampleInputName1" placeholder="name" required>
                              <label for="exampleInputName1">Category Description</label>
                            <input type="text" class="form-control  text-light " name="category_description"
                                id="exampleInputDescription" placeholder="Description" required style="height: 100px;">
                            <button type="submit" class="btn btn-lg btn-inverse-primary mr-2 mt-5">Add
                                Category</button>
                        </div>
      
                    </div>
      
                </form>
      
            </div>
        </div>
      </div>

      
      
  </div>
</div>

<%-include('../admin/layouts/footer.ejs') %>