
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Brand Hub</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/static/adminAssets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/adminAssets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/static/adminAssets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/static/adminAssets/images/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
          <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
            <div class="card col-lg-4 mx-auto">
              <div class="card-body px-5 py-5">
                <h3 class="card-title text-left mb-3 text-center" >Login</h3>

                <form action=""  method="post">
                  <div class="form-group">
                    <label>Email *</label>
                    <input type="text" name="email" class="form-control p_input">
                  </div>
                  <div class="form-group">
                    <label>Password *</label>
                    <input type="password" name="password" class="form-control p_input">
                  </div>
                  <br>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block enter-btn">Login</button>
                  </div>

                  <% 
                  if(typeof message !== 'undefined'){
                      %>
                      <div id="invalid-msg" class="alert alert-danger text-danger text-center">
                          <h4><%- message %></h4>
                      </div>
                      <%
                  }
                  %>

                  <!-- <div class="d-flex">
                    <button class="btn btn-facebook mr-2 col">
                      <i class="mdi mdi-facebook"></i> Facebook </button>
                    <button class="btn btn-google col">
                      <i class="mdi mdi-google-plus"></i> Google plus </button>
                  </div> -->

                </form>
                
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="static/adminAssets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="static/adminAssets/js/off-canvas.js"></script>
    <script src="static/adminAssets/js/hoverable-collapse.js"></script>
    <script src="static/adminAssets/js/misc.js"></script>
    <script src="static/adminAssets/js/settings.js"></script>
    <script src="static/adminAssets/js/todolist.js"></script>
    <!-- endinject -->
  </body>
</html>