
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Brand Hub</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/static/adminAssets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/adminAssets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/static/adminAssets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/static/adminAssets/images/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
          <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
            <div class="card col-lg-4 mx-auto">
              <div class="card-body px-5 py-5">
                <h3 class="card-title text-left mb-3 text-center" >Login</h3>

                <form action=""  method="post" onsubmit="return validateForm()">
                  <div class="form-group">
                    <label>Email *</label>
                    <input type="text" name="email" class="form-control p_input" id="email">
                    <p id="email-error" class="error-message"></p>
                  </div>
                  <div class="form-group">
                    <label>Password *</label>
                    <input type="password" name="password" class="form-control p_input" id="password">
                    <p id="password-error" class="error-message"></p>
                  </div>
                  <br>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block enter-btn">Login</button>
                  </div>

                  <% 
                  if(typeof message !== 'undefined'){
                      %>
                      <h5 id="invalid-msg" class=" text-danger text-center"><%- message %></h5>
                      <%
                  }
                  %>

                </form>
                
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="static/adminAssets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="static/adminAssets/js/off-canvas.js"></script>
    <script src="static/adminAssets/js/hoverable-collapse.js"></script>
    <script src="static/adminAssets/js/misc.js"></script>
    <script src="static/adminAssets/js/settings.js"></script>
    <script src="static/adminAssets/js/todolist.js"></script>

    <script>

      document.addEventListener("DOMContentLoaded", function() {
          const form = document.querySelector("form");
          const passwordField = document.getElementById("password");
          const confirmPasswordField = document.getElementById("Cpassword");
          const passwordMismatchDiv = document.getElementById("password-mismatch");
        
          form.addEventListener("submit", function(event) {
            if (passwordField.value !== confirmPasswordField.value) {
              passwordMismatchDiv.style.display = "block";
              event.preventDefault(); // Prevent form submission
            } else {
              passwordMismatchDiv.style.display = "none";
            }
         });
      });
      
      
      function validateForm()
           {
              document.getElementById('email-error').textContent = '';
              document.getElementById('password-error').textContent = '';
      
              const email = document.getElementById('email').value;
              const password = document.getElementById('password').value;
      
              if (!email) 
              {
                  document.getElementById('email-error').textContent = 'Email field should not be empty';
                  return false;
              }
      
              if (!password || password.length < 6) 
              {
                  document.getElementById('password-error').textContent = 'Password must be at least 6 characters';
                  return false;
              }
      
              return true;
          }
      
      </script>

      <style>
        .error-message{
         color: red;
          }
      </style>

    <!-- endinject -->
  </body>
</html>