<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Brand Hub</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/static/adminAssets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/adminAssets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/static/adminAssets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="/static/adminAssets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/static/adminAssets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/adminAssets/vendors/owl-carousel-2/owl.theme.default.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/static/adminAssets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/static/adminAssets/images/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">