
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Brand Hub</title>
    <link rel="stylesheet" href="/static/user.css">
</head>
<body>

<div class="full-page">
    <div class="container">
    <div class="text-center  center-div">
        <div class="container col-6 py-5 p-4">
            <div class="title pb-3">
                <h3> Reset Password </h3>
                            <% 
                            if(typeof message !== 'undefined'){
                                %>
                                <div id="invalid-msg" class="alert alert-danger text-center">
                                    <h4><%- message %></h4>
                                </div>
                                <%
                            }
                            %>
             </div>
             
        <form action="" method="post" onsubmit="return validForgotPassword()">
            <div class="form-group mt-3">
                <input type="password" class="form-control" name="password" placeholder="Enter password" id="password">
                <p id="password-error" class="error-message"></p>
                <input type="password" class="form-control" name="Cpassword" placeholder="Confirm password" id="Cpassword">
                <p id="password-mismatch" class="error-message"></p>
                <input type="hidden" name="user_id" value="<%= user_id %>">
            </div>
            <br>
                <input type="submit" class="btn btn-success rounded-pill" value="Reset Password">

        </form>

        </div>
    </div>
    </div>
</div>

 <script>

function validForgotPassword() {
  const password = document.getElementById('password').value;
  const cpassword = document.getElementById('Cpassword').value;

   // Clear any previous error messages
  document.getElementById('password-error').textContent = '';
  document.getElementById('password-mismatch').textContent = '';

  if (!password || password.length < 6) {
      document.getElementById('password-error').textContent = 'Password must be at least 6 characters.';
      return false;
  }

  if (password !== cpassword) {
      document.getElementById('password-mismatch').textContent = 'Passwords do not match. Please try again.';
      return false;
  }

  return true;
}


 </script>

</body>
</html>
