

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Brand Hub</title>
    <link rel="stylesheet" href="/static/user.css">
</head>
<body>

<div class="full-page">
    <div class="container">
    <div class="text-center  center-div">
        <div class="container col-6 py-5 p-4">
            <div class="title pb-3">
                <h3> Forgot Password </h3>
                <% 
                if(typeof message !== 'undefined'){
                    %>
                    
                        <h5 id="invalid-msg" class=" text-danger text-center"><%- message %></h5>
                   
                    <%
                } 
                %>
             </div>
             
        <form action="/forgotPassword" method="post" onsubmit="return validateForm()">
            <div class="form-group mt-3">
                <input type="email" class="form-control" name="email" placeholder="Enter email" id="email">
                <p id="email-error" class="error-message"></p>
            </div>
            <br>
                <input type="submit" class="btn btn-success rounded-pill" value="Send Reset Link">

        </form>

        </div>
    </div>
    </div>
</div>

<script src="/static/script.js"></script>

<script>
    setTimeout(function () {
    // Your code to hide the message after a delay goes here
    var invalidMsg = document.getElementById("invalid-msg");
    if (invalidMsg) {
      invalidMsg.style.display = "none";
    }
  }, 3000);
</script>

</body>
</html>