
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Brand Hub</title>
    <link rel="stylesheet" href="/static/user.css">
</head>
<body>

<div class="full-page">
<div class="container">
<div class="text-center  center-div">
    <div class="container col-6 py-5 p-4">
        <div class="title pb-3">
            <h1>Login</h1>
                        <% 
                        if(typeof message !== 'undefined'){
                            %>
                            <div id="invalid-msg" class="alert alert-danger text-danger text-center">
                                <h4><%- message %></h4>
                            </div>
                            <%
                        } 
                        %>
         </div>

        <form action="/login" method="post" onsubmit="return validateForm()">
            <div class="form-group mt-3">
                <input type="email" class="form-control" name="email" placeholder="Enter email" id="email">
                <p id="email-error" class="error-message"></p>
                <br><br>
                <input type="password" class="form-control" name="password" placeholder="Enter password" id="password">
                <p id="password-error" class="error-message"></p>
            </div>
            <br>
                <input type="submit" class="btn btn-primary rounded-pill" value="Login">

        </form>
        <br>
        <!-- <a href="/forgotPassword">Forgotten account?</a> -->
        <a href="/forgotPassword">Forgot password?</a> &nbsp; <a href="/register">Create new account</a>

    </div>
</div>
</div>
</div>

<script src="/static/script.js"></script>

</body>
</html>




