
<%-include('../users/layouts/header.ejs') %>
<%-include('../users/layouts/navBar.ejs') %>

<div class="container m-t-100 m-b-100">
    <div style="background-color: rgb(236, 236, 236); color: white; padding: 15px; text-align: center; width: 80%; margin: 0 auto;">
        <h2>Your order has been placed successfully!</h2>
        <div style="display: flex; justify-content: center;">
            <img src="/static/userAssets/images/Animation - 1698988378670.gif" alt="Order Placed Animation" style="margin: 5px;">
            <img src="/static/userAssets/images/Animation - 1698988378670.gif" alt="Order Placed Animation" style="margin: 5px;">
        </div>
        <p class="text-dark">Thank you for shopping with us.</p>
        <button onclick="window.location.href='/shop'" style="background-color: white; color: rgb(0, 0, 0); padding: 10px 20px; border: none; cursor: pointer;">Continue Shopping</button>
    </div>
</div>

<%-include('../users/layouts/footer.ejs') %>