<%-include('../layouts/header.ejs') %>
<div class="full-page">
<div class="container">
<div class="text-center  center-div">
    <div class="container col-6 py-5 p-4">
        <div class="title pb-3">
            <h1>OTP Verification</h1>
                        <% 
                        if(typeof message !== 'undefined'){
                            %>
                            <div id="invalid-msg" class="alert alert-danger text-danger text-center">
                                <h4><%- message %></h4>
                            </div>
                            <%
                        }
                        %>
         </div>

        <form action="/userOtp" method="post">
            <div class="form-group mt-3">
                <input type="text" class="form-control" name="otp" placeholder="Enter OTP" id="email">
                <br>
            </div>
            <br>
                <input type="submit" class="btn btn-primary rounded-pill" value="Verify & Proceed">

        </form>
        <br>
       

    </div>
</div>
</div>
</div>

<%-include('../layouts/footer.ejs')%>